cloud_id         = "dfdfhk845214gcfnhfg84"
folder_id        = "dfkghjdf845641fghffdf"
zone             = "ru-central1-a"
image_id         = "idiojfdjg8452df"
ssh_user         = "ubuntu"
public_key_path  = "~/.ssh/public_key"
private_key_path = "~/.ssh/private_key"
subnet_id        = "not_used"
token            = "auth_token"
inst_count       = 2
