{
    "auth_token": "auth_token",
    "folder_id": "dfkghjdf845641fghffdf",
    "source_image_id": "fd83j9o4mujksm70lfip",
    "ssh_username": "bubuntu",
    "subnet_id": "dfhg7djhfj7f4gvfkj78g",
    "zone": "ru-central1-a"
}
